body {
    font-family: Roboto, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

header, #about, footer {
    background-color: #1f2937;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 24px 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.logo {
    color: #f9faf8;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Righteous', cursive;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#about {
    margin: 0;
    padding: 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.top-sect-text {
    max-width: 35%;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    margin: 15px 0;
}

div > .secondary-text {
    margin: 15px 0;
}

button {
    border: none;
    border-radius: 10%;
    background-color: #3882f6;
    color: #e5e7eb;
}

#about > img {
    max-width: 40%;
}

#rand-info {
    padding: 90
}

h2 {
    color: #1f2937;
    font-size: 36px;
    margin: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rand-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 0;
    gap: 25px;
}

.rand-indiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
}

.rand-indiv > img {
    border-radius: 15%;
}

.rand-indiv > div {
    font-size: 10px;
    color: #83878d;
    text-align: center;
    margin: 5px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote span {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    text-align: right;
    font-size: 18px;
}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.call {
    flex: 1;
    margin: 0;
    padding: 0;
}

footer {
    padding: 25px 0;
    color:#e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}