body {
    font-family: Roboto, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

header, #about, footer {
    background-color: #1f2937;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 24px 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

a:link, a:visited {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #83878d;
}

.logo {
    color: #f9faf8;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Righteous', cursive;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#about {
    margin: 0;
    padding: 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.top-sect-text {
    max-width: 35%;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    margin: 15px 0;
}

.top-sect-sub-text {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 600;
}

div > .secondary-text {
    margin: 15px 0;
}

.top-sect-text > button {
    border: none;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;;
    padding: 10px 30px;
    font-size: 16px;
}

.top-sect-text > button:hover {
    background-color: #3881f6b7;
}

#about > img {
    max-width: 40%;
}

.rand-info {
    padding: 90
}

h2 {
    color: #1f2937;
    font-size: 36px;
    margin: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rand-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 0;
    gap: 15px;
}

.rand-indiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
}

.rand-indiv > img {
    border-radius: 15%;
    max-width: 80%;
    max-height: 100vh;
}

.rand-indiv > div {
    font-size: 16px;
    color: #83878d;
    text-align: center;
    margin: 5px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 28px;
    font-style: italic;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote span {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin: 8px 0;
    text-align: right;
    font-size: 18px;
}

.contact {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
}

.contact-text > h3 {
    font-size: 24px;
    margin: 0 0 8px 0;
    padding: 0;
}

.contact > button {
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    font-size: 16px;
}

footer {
    padding: 25px 0;
    color:#e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}